@media only screen and (min-device-width: 0) and (max-device-width : 576px) {
  /* Utilities CSS */
  .container{
    max-width: 576px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Header Area */
  .header-in {
    display: none;
  }
  .mobile-menu {
    display: block;
  }


  /* Banner Area */
  .banner-in {
    margin-bottom: 60px;
  }
  .banner-in {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-content {
    text-align: center;
  }
  .banner-content h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .banner-thumbnail img {
    max-width: 100%;
  }

  /* Product Area */

  .product-area{
    margin-bottom: 30px;
  }
  .partner-logo {
    flex-wrap: wrap;
    border: 0;
    padding: 0;
  }
  .products
  {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
  }
  .single-product {
    padding-right: 25px;
  }
  .single-product img {
    width: 100%;
  }


  /* Freature Area */
  .feature-in {
    flex-direction: column-reverse;
    align-items: center;
  }
  .freature-info{
    padding: 15px;
    text-align: center;
  }
  .freature-info a {
    margin: 30px 0;
  }


  /* Footer Area */
  .social-link ul li{
    margin: 0 7px;
  }
  
}

/* -----------------------
  Tab 577px to 768px 
  ------------------------*/

@media only screen and (min-device-width: 577px) and (max-device-width : 768px){
  .container{
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
  h3{
    font-size: 22px;
  }
  /* Header Area */
  .header-in .logo a {
    font-size: 20px;
  }
  .main-menu ul li{
    margin-left: 25px;
  }

  /* Banner Area */
  .banner-in {
    margin-bottom: 60px;
  }
  .banner-thumbnail img {
    max-width: 90%;
  }
  .banner-content h1 {
    font-size: 28px;
    line-height: 40px;
  }

  /* Partnar Area */
  .partner-logo{
    flex-wrap: wrap;
    padding: 30px 0;
    margin-bottom: 60px;
  }


  /* Produuct area */
  .product-area {
    margin-bottom: 60px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-product {
    padding: 20px;
  }
  .product-title {
    font-size: 18px;
  }
  .show-more-btn a{
    text-align: left;
  }


  /* Feature Area */
  .feature-in {
    flex-direction: column-reverse;
    align-items: center;
  }
  .freature-info {
    text-align: center;
    padding: 40px;
  }
  .freature-info a {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  /* footer area */
  .footer {
    width: 150%;
  }

}