/* -------------------
    Poppins Google Font
  -------------------- */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


/* -------------------
    Utilities CSS
  -------------------- */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}





/* -------------------
    Header Area CSS
  -------------------- */
  .header-in {
    padding: 40px 0;
  }
  .header-in .logo a {
    font-weight: bold;
    font-size: 24px;
    color: #3A3A3A;
  }
  .header-in {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.main-menu ul{
  display: flex;
  align-items: center;
}
.main-menu ul li {
  margin-left: 34px;
}
.main-menu ul li a {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  color: #3A3A3A;
}